@import "../../styles/variables.scss";
.data-table-container{
    padding: 0px 20px;
    .header-container{
        display: flex;
        font-size: $font-normal;
        padding: 20px 40px;
        justify-content: space-between;
        border-bottom: 1px solid $acc-neutral;
    }
    .data-list{
        display: flex;
        padding: 20px 40px;
        justify-content: space-between;
        border-bottom: 1px solid $acc-neutral;
        .document_icon{
            padding-right: 10px;
        }
    }
    .data-list:last-child{
        border-bottom: none;
    }
    .more{
        cursor: pointer;
        position: relative;
        display: inline-block;
        cursor: pointer;
        background: url('./../../../assets/icons/more-option.png');
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 50px;
        background-size: 30px;
    }
    .more:hover{
        .popuptext{
            visibility: visible;
        }
    }
}
.popuptext {
   width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: -14%;
    visibility: hidden;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
   
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }