<div class="data-table-container">
    <!-- Header -->
    <div class="header-container" >
        <div>{{headerTitles.headerOne}}</div>
        <div>{{headerTitles.headerTwo}}</div>
    </div>
    <div class="table-container">
        <div class="data-list">
            <div><img src="./../../../assets/icons/icon-doc.png" alt="">document name</div>
            <div>Date
            <span class="more"><img width="20" height="20"  src="./../../../assets/icons/more-option.png" alt=""></span></div>
        </div>
        <div class="data-list">
            <div><img src="./../../../assets/icons/icon-doc.png" alt="">document name</div>
            <div>Date
            <span class="more"><img width="20" height="20" src="./../../../assets/icons/more-option.png" alt=""></span></div>
        </div>
    </div>
</div>