
<div class="dashboard-page"  *ngIf="this.user">
     <!-- Top panel menu -->
    <app-user-navigation [userInfo]="this.user"></app-user-navigation>
    <!-- Left panel menu -->
   <app-main-navigation></app-main-navigation>
   <div class="center-container">
     <div class="greeting-user-container">
          <h2 class="heading-text">Hi, {{this.user.name}}👋 </h2> 
          <p class="second-heading-text">{{this.userGoal?.description}}</p>
     </div>
     <div class="two-column">
          <div class="left-container">
               <div class="user-goal-container" *ngIf="this.user.current_organisation.is_personal">
                    <h3>Career Goal</h3>
                    <div class="goal-container" *ngIf="this.userGoal">
                         <p>Your Progress</p>
                         <app-data-graph [progressData]="chartData"></app-data-graph>
                         <p>I want to become a</p>
                         <h3>{{this.userGoal?.category}}</h3>
                         <a>View Insight</a>
                    </div>  
               </div>
          </div>
          <div class="right-container">
               <div class="heading">
                    <h3>Recent Documents</h3>
                    <h4>View All Document</h4>
               </div>
               <div class="documents-container" *ngIf="documentList">
                    <app-data-table [documetData]="documentList"></app-data-table>
               </div>
          </div>
     </div>
     </div>
</div>
<app-loading [showLoading]="isLoading"></app-loading>
