
<div class="dashboard-page">
     <!-- Top panel menu -->
    <app-user-navigation></app-user-navigation>
    <!-- Left panel menu -->
   <app-main-navigation></app-main-navigation>
   <div class="center-container">

   
     <div class="greeting-user-container">
          <!-- TO DO data will come from GET API -->
          <h2 class="heading-text">Hi, Gerald Goh 👋 </h2> 
          <p class="second-heading-text">Manage your documents issued by SMU Academy or track your career goal.</p>
     </div>
     <div class="content-container">
          <!-- TO DO validation base on GET API user is_personal -->
          <div class="user-goal-container" *ngIf="true">
               <h3>Career Goal</h3>
               <div class="goal-container">
                    <p>Your Progress</p>
                    <!-- TO DO Pass Data with input -->
                    <app-data-graph></app-data-graph>
                    <p>I want to become a</p>
                    <h3>Tax Manager</h3>
                    <a>View Insight</a>
               </div>  
          </div>
          <div>
               <h3>Recent Documents</h3>
               <div class="documents-container">
                    <!-- TO DO Pass Data with input -->
                    <app-data-table></app-data-table>
               </div>
          </div>
          

     </div>
     </div>
</div>
