@import "../../styles/variables.scss";
.dashboard-page{
    h1{
        font-size: $font-large;
    }
    h3{
        font-size: $font-medium;
    }
    .second-heading-text{
        font-size: $font-normal;
        color: $acc-gray;
    }
    .content-container{
        display: flex;
        justify-content: space-between;
    }
    .goal-container{
        border-radius: 6px;
        border: 1px solid $acc-neutral;
        text-align: center;
        padding: 30px 0 50px 0;
        p{
            color: $acc-gray;
        }
        a{
            font-size: $font-normal;
            color: $acc-primiary-color;
        }
    }
    .documents-container{
        border-radius: 6px;
        border: 1px solid $acc-neutral;
    }
   .center-container{
    background-color: $acc-white-color;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   }
   .two-column{
    display: flex;
    justify-content: space-between;
   }
   .left-container{
    width: 30%;
   }
   .right-container{
    width: 68%;
   }
}