<div class="main-nav-container">
    <div class="app-logo">
        <img src="./../../../assets/icons/acc-logo.png" alt="">
    </div>
    <div class="nav-menu">
        <ul>
            <li><img src="./../../../assets/icons/icon-home.png" alt=""></li>
            <li><img src="./../../../assets/icons/icon-menu.png" alt=""></li>

            <li>
                <!-- Feedback to designer , group vector images , now image is broken and replace with good one -->
                <img src="./../../../assets/icons/icon-setting.png" alt="">
            </li>

            <li><img src="./../../../assets/icons/icon-security.png" alt=""></li>
            <li><img src="./../../../assets/icons/icon-setting.png" alt=""></li>
        </ul>
    </div>
</div>